#top-section {
  width: 100%;
  height: 52px;
  padding: 6px 30px;
  color: $G-0;
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(lg) {
    height: 70px;
    padding: 6px 16px;
    width: 100vw;
  }

  @include media-breakpoint-only(md) {
    position: absolute;
    width: 720px;
    padding: 0 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  // & > div {
    // @extend .flex-center-y;
  // }

  // & > p {
  //   @include media-breakpoint-down(lg) {
  //     opacity: 0;
  //     pointer-events: none;
  //   }
  // }

  .header-btns-wrapper {
    display: flex;
    gap: 10px;

    .bike-compatibility-button {
      padding: 6px 11px 6px 15px;
      border-radius: $radius-circle;
      border: 1px dashed rgba($b-highlight-two, 0.5);
      background-color: rgba($b-highlight-two, 0.1);
      @extend .flex-center-y;
      @extend #{'.paragraph', '.paragraph-m'};

      .button {
        padding-top: 6px;
        padding-bottom: 6px;
        margin-left: 7px;
        
        svg  {
          path {
            fill: $G-0;
          }
        }
      }

      &.not-set-bike {
        .button {
          svg  {
            margin-left: -10px;
            margin-right: 5px;
          }
        }
      }

      &.has-set-bike {
        .button {
          display: inline-flex;
          align-items: center;
          flex-direction: row-reverse;
          
          svg {
            margin-left: 10px;
          }
        }
      }

      .bike-icon {
        border-right: 1px solid rgba($G-0, 0.1);
        padding-right: 12px;
        margin-right: 12px;
      }

      .edit-bike {
        margin-left: 10px;

        path {
          fill: $G-0;
        }
      }
    }
  }

  .lang-bar {
    display: inline-block;
    margin-left: 20px;
  }

  .chat-link {
    color: $G-0;
  }
}