#compatibilityModal {
  #compatibilities {
    display: flex;
    gap: 10px; 

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .select2-dropdown {
      border-color: $G-1-5;
    }
    
    .compatibilities-dropdown {
      flex: 0 1 33.333%;
      display: flex;
      flex-direction: column;

      .ui-selectmenu-button {
        width: 100%;
        padding: 10px 8px 10px 12px;
        border-color: $G-1-5;
        border-radius: $radius-medium;
        background-color: transparent;
        opacity: 1;
        transition: opacity 0.2s ease;

        .ui-selectmenu-text {
          padding: 0;
          font-size: 16px;
          line-height: normal;
        }
      }

      label {
        margin-bottom: 4px;
      }
    }
  }

  #see-all-parts {
    margin: 0;
    // opacity: 0;
    // visibility: hidden;
    // transition: opacity 0.2s ease, visibility 0.2s ease;

    // &.show {
    //   opacity: 1;
    //   visibility: visible;
    // }
  }

  .modal-dialog {
    max-width: 830px;
  }
  
  .modal-head {
    background-color: rgba($b-primary, 0.04);
    border-radius: $radius-medium;
    margin-bottom: 25px;
    padding: 0 30px;  
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      padding: 15px 30px;
      margin-bottom: 15px;
    }

    img {
      @include media-breakpoint-down(sm) {
        width: 100px;
      }
    }
  }

  .modal-body {
    flex-direction: column;
    align-items: inherit;
    gap: 15px;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }
}

.ui-widget-content {
  .ui-menu-item-wrapper {
    padding-left: 13px;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      border-color: transparent !important;
      background: $b-highlight-two !important;
      color: $G-0 !important;
    }
  }

  .ui-state-active {
    border: 1px solid transparent !important;
    background: transparent !important;
    color: inherit !important; 
  }
  
  .selected {
    background: rgba($b-highlight-two, 0.6) !important;
    border-color: transparent;
    color: $G-0 !important;
    pointer-events: none;
  }

}

.select2-container {
  z-index: 9999;

  // &.disable {
  //   opacity: 0.5;
  //   pointer-events: none;
  // }

  &.select2-container--disabled {
    .select2-selection__rendered:after {
      opacity: 1 !important;
    }
  }

  .select2-search--dropdown {
    padding: 5px 10px;
  }

  .select2-search__field {
    height: 40px;
    box-shadow: none;
    padding-left: 12px;
    padding-right: $radius-small;
    background-color: $G-0;
    border: 1px solid $G-1-5;
    border-radius: 8px;
    transition: border-color 0.25s ease;

    &:focus {
      outline: none;
      background-color: $G-0;
      border-color: $b-primary !important;
    }
  }
}

.select2-container--default {
  .select2-selection--single {
    height: auto;
    border-color: $G-1-5;
    border-radius: $radius-medium;

    .select2-selection__arrow {
      width: 30px;
      height: 100%;

      b {
        margin-top: -3px;
      }
    }

    .select2-selection__rendered {
      padding: 10px 8px 10px 12px;
      line-height: 1;

      &:after {
        content: "";
        position: absolute;
        font-family: "Font Awesome 5 Free";
        animation: fa-spin .75s linear infinite;
        right: 8px;
        background: #EEE;
        z-index: 22;
        opacity: 0;
      }
    }
  }

  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: transparent;
    color: $text-primary;
  }

  .select2-results__option--selected {
    color: $G-0;
    background-color: rgba($b-highlight-two, 0.6) !important;
    pointer-events: none;
  }

  .select2-results__option {
    padding: 5px 12px;
    color: $text-primary;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: $b-highlight-two;
      color: $G-0;
    }
  }
}