.category-pills {
  background-color: $G-0;
  border-radius: 0 0 $radius-medium $radius-medium;
  margin-bottom: -$radius-medium;
  z-index: 2;
  position: relative;
  
  .custom-link {
    position: absolute;
    right: 15px;
    top: 48px;
  }
  
  .tab-content {
    margin-bottom: 40px;

    .cat-img {
      border-radius: $radius-medium;
      text-decoration: none;
      color: $text-primary;
      overflow: hidden;
      position: relative;
      margin: 30px 0 100px;
      @extend .flex-center;

      h4 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        svg {
          position: relative;
          top: -2px;
        }
      }
    }
  }

  .col {
    position: relative;
  }
}

.nav-pills {
  margin: 40px 0 0 0;
  padding-right: 150px;
  
  &.product-categories-view {
    margin-bottom: 18px;
  }

  .nav-link {
    border-radius: $radius-circle;
    color: $text-primary;
    background-color: rgba($b-primary, 0.05);
    margin-right: 5px;
    padding: 5px 18px 5px 18px;

    &.active {
      background-color: $b-primary;
      pointer-events: none;
      color: $G-0;
    }
  }    
}
