.page-template-landing-event {
  #fupi_cookie_notice {
    display: none !important;
  }
}

#landing-event {
  .header {
    width: 100%;
    background-color: $b-primary;
    position: fixed;
    top: 0;
    z-index: 5;

    .wrapper {
      padding: 12px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $G-0;

      .destination {
        @include media-breakpoint-down(md) {
          width: 106px;
        }
      }

      .landing-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: 22;

        @include media-breakpoint-down(md) {
          width: 150px;
          top: 40px;
        }
      }
    }
  }

  // main {
  //   background: $G-0;
  //   position: relative;
  // }

  .hero-section {
    height: 640px;
    max-height: none;
    border-radius: 0 0 $radius-medium $radius-medium;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    
    @include media-breakpoint-down(md) {
      background-size: cover;
      background: url('../../assets/images/landing-event/HERO-BG.jpg') center center no-repeat;
      height: 400px;
    }

    &:after {
      @include media-breakpoint-up(md) {
        width: 100%;
        height: 100%;
        background-color: rgba($b-primary, 0.6);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }

    .video-section {
      padding:56.25% 0 0 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      filter: blur(5px);
      background: url('../../assets/images/landing-event/poster.jpg') center center no-repeat;
      background-size: cover;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .wrapper {
      width: 100%;
      height: 100%;
      color: $G-0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;

      .event-title {
        font-size: 100px;
        line-height: 136px;
        margin: 0;

        @include media-breakpoint-down(md) {
          font-size: 44px;
          line-height: 60px;
        }
      }

      .destination {
        font-size: 30px;
        line-height: 1;

        @include media-breakpoint-down(md) {
          font-size: 24px;
          line-height: 35x;
        }
      }

      .tax {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }

      .available-seats {
        margin-top: 50px;
        background-color: $b-primary;
        border-radius: $radius-circle;
        padding: 8px 8px 8px 25px;
        display: flex;
        gap: 15px;
        align-items: center;

        .text {
          font-size: 18px;

          @include media-breakpoint-down(md) {
            font-size: 13px;
          }
        }
      }
    }
  }

  .assistants {
    background-color: rgba($b-primary, 0.1);
    padding: 37px 0 25px;
    margin-top: -12px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 12px;
    border-radius: $radius-medium;

    .custom-logo-link {
      margin: 0;
    }
  }

  .content-section {
    padding: 100px 0 40px;

    @include media-breakpoint-down(md) {
      padding: 50px 0 25px;
    }

    .h2 {
      font-size: 42px;
      line-height: 58px;

      @include media-breakpoint-down(md) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    .wrapper {
      display: flex;
      gap: 30px;
      padding-bottom: 30px;

      @include media-breakpoint-down(xl) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  
  .banner-section {
    width: 100%;
    height: 420px;
    background: url('../../assets/images/landing-event/info-banner.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $G-0;

    @include media-breakpoint-down(md) {
      height: 300px;
    }

    a {
      margin-top: 20px;  
      padding: 18px 35px;
      line-height: 24px;
    }

    h1 {
      font-size: 60px;
      line-height: 82px;

      @include media-breakpoint-down(md) {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }

  .schedule {
    padding: 75px 0 60px;

    .h2 {
      margin-bottom: 20px;
    }

    hr {
      background-color: $G-3;
    }

    .hours {
      margin-right: 10px;
    }

    .specifications {
      margin: 60px 0;
      border-radius: $radius-medium;
      padding: 30px 35px 30px 30px;
      background-color: $b-primary;
      color: $G-0;

      @include media-breakpoint-down(md) {
        margin: 5px 0;
      }
    }

    .row {
      &:last-child {
        @include media-breakpoint-down(md) {
          margin-top: 30px;
        }
      }
    }
  }

  .gallery {
    margin: 0;
    text-align: center;

    .swiper-block {
     position: relative;
     background-color: rgba($b-primary, 0.1);
     margin-top: 30px;
     padding: 50px 0;
     border-radius: $radius-medium $radius-medium 0 0;

      .swiper {
        width: 800px;
        margin: 0 auto;
        border-radius: $radius-medium;
        box-shadow: 0px 3px 6px 0px #0F0F0F1A, 0px 9px 24px 0px #0F0F0F33;

        @include media-breakpoint-down(lg) {
          width: calc(100% - 100px);
        }
      }
      
      .siwper-navigation {
        width: 950px;
        top: 50%;  
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
          width: calc(100% - 20px);
        }

        div {
          margin: 0 !important;
        }
      }
    }
  }
}