#bottom-section {
  padding-bottom: 16px;
  background-color: $G-0;
  position: relative;

  @include media-breakpoint-down(lg) {
    position: absolute;
    left: 3px;
    top: 15px;
    background-color: transparent;
  }

  @include media-breakpoint-only(md) {
    left: calc((100% - 720px) / 2);
  }

  .primary-navigation {
    @include media-breakpoint-down(lg) {
      width: calc(100vw - 10px);
      height: calc(100vh - 10px);
      padding: 20px;
      display: block;
      position: fixed;
      background: $G-0;
      z-index: 222;
      left: 5px;
      top: 5px;
      border-radius: $radius-medium;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.25s ease;
      overflow: hidden;
      box-shadow: 0px 3px 6px 0px rgba(15, 15, 15, 0.1), 0px 9px 24px 0px rgba(15, 15, 15, 0.2);
    }

    &.sub-menu-showed,
    &.sub-sub-menu-showed {
      .sub-menu-head-mobile {
        display: flex;
      }
    }
  }

  .mobile-nav {
    display: none;

    .sub-menu-head-mobile {
      position: relative;
      display: none;

      @include media-breakpoint-down(lg) {
        width: calc(100% - 30px);
        position: fixed;
        z-index: 15;
        left: 15px;
        top: 25px;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $G-2;
        padding: 0 0 20px;
        color: $text-primary;
      }

      &__close {
        width: 36px;
        height: 36px;
        background-color: $G-1;
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 0;
        @extend .flex-center;

        &:after {
          margin-top: 1px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          border-bottom: 4px solid transparent;
          border-top: 4px solid transparent;
          border-right: 4px solid $b-primary;
          content: '';
          display: block;
        }
      }

      &__cat {
        font-weight: 600;
        padding: 0 45px;
        line-height: 37px;
        @include line-clamp(1);
      }
    }

    @include media-breakpoint-down(lg) {
      padding: 2px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__close {
      position: relative;
      z-index: 17;
    }

    &__logo {
      a {
        display: block; 
        width: 110px;
        height: 36px;
        background: url('../../assets/icons/svg/logo.svg') center center no-repeat;
        padding: 0;
      }
    }
  }

  .menu-toggle {
    @include media-breakpoint-down(lg) {
      display: block;
      float: none;
      border-width: 1px;
      background: transparent;
      color: $G-0;
      border-color: $G-0;
      border-radius: $radius-circle;
    }

    &:before,
    &:after,
    span:before {
      @include media-breakpoint-down(lg) {
        background: $G-0;
      }
    }
  }

  .main-navigation {
    &.toggled {
      .primary-navigation {
        @include media-breakpoint-down(lg) {
          opacity: 1;
          pointer-events: inherit;
        }
      }
    }

    ul {
      li {
        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }
  }
  
  .main-menu {
    position: relative;
    margin: 0;

    &.has-featured-product {
      .sub-menu {
        @include media-breakpoint-up(lg) {
          min-height: 404px;
          padding-right: 354px;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      max-height: none;
      padding: 0;
      overflow: inherit;
      position: static;
      overflow-y: auto;
      height: calc(100% - 47px);
    }

    & > .menu-item {
      position: initial;
      margin-right: 20px;
      padding: 4px 0;

      &.menu-item-has-children {

        &:hover {
          .sub-menu {
            opacity: 1;
            pointer-events: auto;
            transition-delay: 0.2s;
          }
        }

        & > a {
          padding-right: 16px;
        }

        &.cat-name {
          & > a {
            position: relative;

            &:after {
              margin-top: 1px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 4px solid $G-5;
              content: '';
            }
          }

          &.motors-icon {
            @include media-breakpoint-up(lg) {
              padding-left: 20px;
            }

            & > a {
              @include media-breakpoint-up(lg) {
                background-image: url('../../assets/icons/svg/motorcycle.svg');
                background-position: center left;
                background-repeat: no-repeat;
                padding-left: 32px;
              }

              &:before {
                @include media-breakpoint-up(lg) {
                  width: 1px;
                  height: 24px;
                  content: '';
                  display: block !important;
                  position: absolute;
                  left: -20px;
                  top: 50%;
                  transform: translateY(-50%);
                  background-color: rgb(199, 199, 199);
                }
              }
            }
          }
        }
      }
    }

    .menu-item {
      @include media-breakpoint-down(lg) {
        border-bottom: 1px dashed $G-2;
        padding: 13px 0 13px 5px;
      }

      &:not(.cat-name, .sub-sub-menu__item) {
        &:nth-last-child(2) {
          @include media-breakpoint-up(lg) {
            margin-bottom: 25px;
          }
        }
      }
    }

    .menu-item-has-children {
      & > a {
        @include media-breakpoint-down(lg) {
          pointer-events: none;
        }

        &:after {
          @include media-breakpoint-down(lg) {
            margin-top: 1px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            display: block;
            border-top: 4px solid transparent !important;
            border-bottom: 4px solid transparent !important;
            border-left: 4px solid $G-5 !important;
            border-right: none !important;
            content: '';
          }
        }
      }

      &:not(.cat-name) {
        & > a:after {
          @include media-breakpoint-up(lg) {
            content: 'ï”';
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.1;
            transition: opacity 0.2s ease;
          }
        }
      }
    }


    .cat-name { 
      & > a {
        text-decoration: none;
        transition: color 0.25s ease;
        padding: 0;
        @extend #{'.paragraph','.paragraph-l', '.semibold'};
      }

      &:hover {
        & > a {
          color: $b-highlight-two;
        }
      }
    }

    .product-of-the-week { 
      width: 324px;
      // display: none;
      border-radius: 0 $radius-small $radius-small 0;
      padding: 30px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      background-color: rgba(0,0,0,0.2);
      
      @include media-breakpoint-down(lg) {
        display: none;
      }

      & > p {
        color: $G-0;
      }

      ul.products {
        position: static;
        margin: 0 !important;
        padding: 0 !important;
        width: 265px;

        & > p {
          color: $G-0;
          margin-bottom: 3px;
        }

        a {
          width: 265px;
          padding: 0;
          position: relative;

          .woocommerce-loop-product__title {
            color: $G-0;
          }
        }
      }
    }

    .sub-menu {
      width: 100%;
      opacity: 0;
      pointer-events: none;
      left: 0;
      float: none;
      // top: calc(100% + 2px);
      background-color: $b-primary;
      border-radius: $radius-small;
      padding: 30px 30px 20px;
      display: flex;
      flex-wrap: wrap;
      transition: opacity 0.2s ease 0s;

      @include media-breakpoint-up(lg) {
        outline: 4px solid rgba($G-0, 0.2);
        flex-direction: column;
        gap: 2px;
      }
      // min-height: 400px;
      
      &,
      .sub-sub-menu {
        @include media-breakpoint-down(lg) {
          width: calc(100vw - 10px);
          min-height: auto;
          padding: 20px;
          height: calc(100vh - 10px);
          opacity: 1;
          pointer-events: inherit;
          margin: 0;
          display: none;
          position: fixed;
          top: 5px;
          left: 5px;
          background-color: $G-0;
          z-index: 10;
          border-radius: $radius-medium;
          overflow-y: auto;
          padding-top: 80px;
        }
 
        &.visible-menu {
          @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column;
          }
        }

        &:after {
          @include media-breakpoint-down(lg) {
            width: calc(100% - 10px);
            height: 64px;
            content: '';
            background-color: $G-0;
            left: 5px;
            top: 5px;
            position: fixed;
            border-radius: $radius-medium $radius-medium 0 0;
          }
        }
      }

      &__item {
        flex: 0 0 100%;
        padding-right: 24px;

        @include media-breakpoint-up(lg) {
          width: 345px;
        } 

        @include media-breakpoint-down(lg) {
          flex: none;
          padding-right: 0;
        }

        &:hover {
          @include media-breakpoint-up(lg) {
            & > a:not(.woocommerce-loop-product__link) {
              opacity: 1;
              background-color: rgba(0, 0, 0, 0.15);

              &:after {
                opacity: 1;
              }
            }
          }
        }

        &.menu-item-has-children {
          @include media-breakpoint-up(lg) {
            position: initial;

            &:hover {
              .sub-sub-menu {
                opacity: 1;
                pointer-events: visible;
              }
            }
          }
        }

        &.stretch {
          @include media-breakpoint-up(lg) {
            display: flex;
            flex: 1 0 100%; 
            margin-bottom: 6px;
            background-position: top 55px left 15px;
            background-repeat: no-repeat;
            
            & > a {
              outline: 2px solid rgba(0, 0, 0, 0.1);
              padding: 25px 35px 15px 15px !important;

              & + .sub-sub-menu {
                height: calc(100% - 114px);
                top: 28px;
              }
            }
            
            &:hover {
              & > a {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }

        }

        &.sherco-icon {
          @include media-breakpoint-up(lg) {
            background-image: url('../../assets/images/sherco.png');
          }
        }

        &.trss-icon {
          @include media-breakpoint-up(lg) {
            background-image: url('../../assets/images/trss.png');
          }
        }
      }

      a:not(.woocommerce-loop-product__link) {
        width: auto;
        font-size: 14px;
        padding: 0;
        font-weight: 600;
        color: $G-0;
        position: relative;
        text-decoration: none;
        background-color: transparent;

        @include media-breakpoint-up(lg) {
          width: 325px;
          opacity: 0.8;
          transition: opacity 0.2s ease, background-color 0.2s ease;
          border-radius: 6px;
          padding: 9px 35px 9px 15px;
        }

        @include media-breakpoint-down(lg) {
          color: $text-primary;
        }

        span {
          @include media-breakpoint-up(lg) {
            display: none;
          }

          margin-right: 5px;
          position: absolute;
          right: 0;
          top: 50%;
        }
      }

      &__item-mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      .main-category-link {
        @include media-breakpoint-up(lg) {
          width: 100%;
          position: initial;
          align-self: end;
          margin-top: auto;
          // position: absolute;
          // left: 24px;
          // bottom: 24px;
          padding-top: 15px;
          border-top: 1px solid rgba($G-0-5, 0.1);
        }

        @include media-breakpoint-down(lg) {
          order: -1;
        }

        & > a {
          @include media-breakpoint-up(lg) {
            margin: 0;
            font-weight: normal;
            width: auto;
            opacity: 1;
            color: $G-0;
            padding: 0;
            font-size: 12px;
            display: inline-flex;
            align-items: center;
            position: relative;
            padding-right: 15px;
          }

          &:after {
            @include media-breakpoint-up(lg) {
              margin-top: 1px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-bottom: 4px solid transparent;
              border-top: 4px solid transparent;
              border-left: 4px solid $b-highlight-two;
              content: '';
              display: block;
            }
          }
        }

        &.mobile-view {
          display: none;

          @include media-breakpoint-down(lg) {
            display: block;
          }
        }
      }
    }

    .sub-sub-menu {
      position: initial;
      margin-left: 0;
      float: none;
      
      @include media-breakpoint-up(lg) {
        width: calc(100% - 730px);
        height: calc(100% - 104px);
        padding: 10px;
        gap: 1px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 375px;
        background: rgba(0, 0, 0, 0.08);
        border-radius: $radius-small;
        top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        transition: opacity 0.2s ease;
      }

      a:not(.woocommerce-loop-product__link) {
        @include media-breakpoint-up(lg) {
          color: rgba($G-0, 0.7);
          opacity: 1;
          font-weight: 400;
          transition: color 0.2s ease, background-color 0.2s ease;
        }

        &:hover {
          @include media-breakpoint-up(lg) {
            color: $G-0;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }

      &__item-mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
}