#bottom-section {
  padding-bottom: 16px;
  background-color: $G-0;
  position: relative;

  @include media-breakpoint-down(lg) {
    position: absolute;
    left: 3px;
    top: 15px;
    background-color: transparent;
  }

  @include media-breakpoint-only(md) {
    left: calc((100% - 720px) / 2);
  }

  .primary-navigation {
    @include media-breakpoint-down(lg) {
      width: calc(100vw - 10px);
      height: calc(100vh - 10px);
      padding: 20px;
      display: block;
      position: fixed;
      background: $G-0;
      z-index: 222;
      left: 5px;
      top: 5px;
      border-radius: $radius-medium;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.25s ease;
      overflow: hidden;
      box-shadow: 0px 3px 6px 0px rgba(15, 15, 15, 0.1), 0px 9px 24px 0px rgba(15, 15, 15, 0.2);
    }
  }

  .mobile-nav {
    display: none;

    @include media-breakpoint-down(lg) {
      padding: 2px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__close {
      position: relative;
      z-index: 12;
    }

    &__logo {
      .custom-logo-link {
        padding: 0;
      }
    }
  }

  .menu-toggle {
    @include media-breakpoint-down(lg) {
      display: block;
      float: none;
      border-width: 1px;
      background: transparent;
      color: $G-0;
      border-color: $G-0;
      border-radius: $radius-circle;
    }

    &:before,
    &:after,
    span:before {
      @include media-breakpoint-down(lg) {
        background: $G-0;
      }
    }
  }

  .main-navigation {
    &.toggled {
      .primary-navigation {
        @include media-breakpoint-down(lg) {
          opacity: 1;
          pointer-events: inherit;
        }
      }
    }

    ul {
      li {
        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }
  }
  
  .main-menu {
    position: relative;
    margin: 0;

    @include media-breakpoint-down(lg) {
      max-height: none;
      padding: 0;
      overflow: inherit;
      position: static;
      overflow-y: auto;
      height: calc(100% - 47px);
    }

    .menu-item {
      position: initial;
      margin-right: 20px;
      padding: 4px 0;

      &:hover {
        .cat-name {
          color: $b-highlight-two;
        }
      }

      &.menu-item-has-children {

        &:hover {
          .sub-menu {
            opacity: 1;
            pointer-events: auto;
          }
        }

        .cat-name {
          padding-right: 16px;
          @extend #{'.paragraph','.paragraph-l', '.semibold'};

          @include media-breakpoint-down(lg) {
            width: 100%;
          }

          svg {
            @include media-breakpoint-down(lg) {
              margin-right: 5px;
              transform: rotate(-90deg);
            }

            path {
              fill: $b-primary;

              @include media-breakpoint-down(lg) {
                fill: $G-5;
              }
            }
          }
        }

        svg {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          @include media-breakpoint-down(lg) {
            transform: rotate(-90deg);
          }
        }
      }

      &,
      .sub-menu__item,
      .sub-menu__item-mobile,
      .sub-sub-menu__item-mobile,
      .sub-sub-menu__item-link {
        @include media-breakpoint-down(lg) {
          margin: 0;
          border-bottom: 1px dashed $G-2;
          padding: 13px 0 13px 5px;
        }
      }
    }

    .cat-name {
      display: inline-block;
      position: relative;
      transition: color 0.25s ease;
    }

    .product-of-the-week { 
      display: none;
      padding: 30px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      background-color: rgba(0,0,0,0.2);

      ul.products {
        position: static;
        width: 265px;

        & > p {
          color: $G-0;
          margin-bottom: 3px;
        }

        a {
          width: 265px;
          padding: 0;

          .woocommerce-loop-product__title {
            color: $G-0;
          }
        }
      }
    }

    .sub-menu {
      width: 100%;
      opacity: 0;
      pointer-events: none;
      left: 0;
      float: none;
      // top: calc(100% + 2px);
      background-color: $b-primary;
      border-radius: $radius-small;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 50px;
      transition: opacity 0.2s ease;
      // min-height: 400px;
      
      &,
      .sub-sub-menu {
        @include media-breakpoint-down(lg) {
          width: calc(100vw - 10px);
          min-height: auto;
          padding: 20px;
          height: calc(100vh - 10px);
          opacity: 1;
          pointer-events: inherit;
          margin: 0;
          display: none;
          position: fixed;
          top: 5px;
          left: 5px;
          background-color: $G-0;
          z-index: 10;
          border-radius: $radius-medium;
          overflow-y: auto;
          padding-top: 80px;
        }
 
        &.visible-menu {
          @include media-breakpoint-down(lg) {
            display: block;
          }
        }

        &:after {
          @include media-breakpoint-down(lg) {
            width: calc(100% - 10px);
            height: 64px;
            content: '';
            background-color: $G-0;
            left: 5px;
            top: 5px;
            position: fixed;
            border-radius: $radius-medium $radius-medium 0 0;
          }
        }
      }


      &__item {
        flex: 0 0 calc(20% - 5px);
        margin-bottom: 24px;
        padding-right: 24px;

        @include media-breakpoint-down(lg) {
          flex: 0 0 100%;
          padding-right: 0;
        }

        &-link,
        &-mobile a {
          width: auto;
          font-size: 14px;
          margin-bottom: 8px;
          padding: 0;
          font-weight: 600;
          color: $G-0;
          position: relative;
          text-decoration: none;
          background-color: transparent;

          @include media-breakpoint-down(lg) {
            color: $text-primary;
            margin: 0;
          }

          span {
            @include media-breakpoint-up(lg) {
              display: none;
            }
  
            margin-right: 5px;
            position: absolute;
            right: 0;
            top: 50%;
          }
        }
      }

      &__item-mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      .sub-menu-head-mobile,
      .sub-sub-menu-head-mobile {
        display: none;
        position: relative;

        @include media-breakpoint-down(lg) {
          width: calc(100% - 30px);
          position: fixed;
          z-index: 2;
          left: 15px;
          top: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid $G-2;
          padding: 0 0 20px;
          color: $text-primary;
        }

        &__close {
          width: 36px;
          height: 36px;
          background-color: $G-1;
          border-radius: 6px;
          position: absolute;
          left: 0;
          top: 0;
          @extend .flex-center;

          svg {
            transform: rotate(90deg);
            position: inherit;
            right: auto;
            top: auto;
            
            path {
              fill: $b-primary;
            }
          }
        }

        &__cat {
          font-weight: 600;
          padding: 0 45px;
          line-height: 37px;
          @include line-clamp(1);
        }
      }

      .main-category-link {
        width: calc(100% - 48px);
        position: absolute;
        left: 24px;
        bottom: 24px;
        padding-top: 15px;
        border-top: 1px solid rgba($G-0-5, 0.1);

        @include media-breakpoint-down(lg) {
          display: none;
        }

        a {
          width: auto;
          color: $G-0;
          padding: 0;
          font-size: 12px;
          display: inline-flex;
          align-items: center;
          position: relative;
          padding-right: 15px;

          span {
            transform: rotate(-90deg) translateX(3px);
            position: absolute;
            right: 0;
            top: 50%;

            svg {
              path {
                fill: $b-highlight-two;
              }
            }
          }
        }
      }
    }

    .sub-sub-menu {
      position: initial;
      margin-left: 0;
      float: none;

      &__item-link,
      &__item-mobile a {
        width: auto;
        font-size: 14px;
        margin: 0 0 6px;
        line-height: 16px;
        padding: 0;
        color: rgba($G-0, 0.8);
        position: relative;
        background-color: transparent;
        text-decoration: none;

        @include media-breakpoint-down(lg) {
          color: $text-primary;
          margin: 0;
          line-height: 21px;
          font-weight: 600;
          padding: 0 15px 0 0;
        }

        span {
          @include media-breakpoint-up(lg) {
            display: none;
          }

          margin-right: 5px;
          position: absolute;
          right: 0;
          top: 50%;
        }
      }

      &__item-mobile {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
}