.product-category-info {
  // min-height: 280px;
  border-radius: $radius-medium;
  gap: 10px;
  flex-direction: column;
  background-size: cover;
  @extend .flex-center;

  &__text {
    max-width: 50%;
    flex-direction: column;
    gap: 10px;
    color: $G-0;
    @extend .flex-center-y;

    .title {
      margin: 0;

      .highlighted {
        color: $b-highlight-two;
      }
    }
  }

  .button {
    border-color: $G-0;
    color: $G-0;
    margin-top: 20px;
  }

  &.full-container {
    height: 340px;
    background-image: url('../../assets/images/tyres_product_illustration.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;

    .teo-bg {
      display: none;
    }
  }

  &.full-width-container {
    position: relative;
    background-image: url('../../assets/images/teo-background.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    z-index: 1;

    .product-category-info__text {
      padding: 40px 0;
      align-items: baseline;
      align-self: center;
    }

    &:before {
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      position: absolute;
      background-color: $b-primary;
      content: '';
      z-index: -1;
    }
    svg {
      display: none;
    }
  }
}