.filter-price {
  &__input-wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    max-width: 30%;
  }

  #slider-range {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}