.storefront-full-width-content {
  &.single-product {
    #main {
      margin: 0;
      background-color: $G-0-5;
    }

    div.product {
      overflow: visible;
    }

    .storefront-breadcrumb {
      padding: 20px 0;
      margin: 0;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .storefront-product-pagination {
      display: none;
    }

    div.product {

      &.product-type-simple {
        .dsk_table_img {
          position: inherit;
          bottom: 0;
          margin-top: 20px;
        }

        .product-gallery-section  {
          align-items: flex-start;
        }
      }
      .product-gallery-section {
        display: flex;
        gap: 30px;
        padding: 20px;
        border-radius: $radius-medium;
        background-color: $G-0;

        @include media-breakpoint-only(lg) {
          align-items: flex-start;
        } 

        @include media-breakpoint-down(lg) {
          margin-top: 30px;
          flex-direction: column;
          position: relative;
        }

        @include media-breakpoint-down(md) {
          padding: 0;
          background-color: transparent;
        }

        .onsale {
          top: 30px;
          margin-right: 30px;
          right: auto;

          @include media-breakpoint-down(sm) {
            left: auto !important;
            right: 10px;
            margin: 0;
            top: 10px;
          }
        }
    
        .woocommerce-product-gallery,
        .summary {
          margin: 0;
        }
    
        .woocommerce-product-gallery {
          // flex: 0 1 64.725%;
          width: auto;
          display: flex;
          gap: 10px;

          // &__wrapper {
          //   border: 2px solid $G-0;
          //   border-radius: $radius-small;
          //   overflow: hidden;
          //   position: relative;
          //   box-shadow: 0 3px 6px 0 rgba(15, 15, 15, 0.1), 20px 29px 154px 0 rgba(15, 15, 15, 0.2);
          // }
          
          // &__image {
            // }
            
          
          & > .flex-viewport,
          & > .woocommerce-product-gallery__wrapper {
            flex: 0 0 $product_images;
            width: $product_images;
            border: 2px solid $G-0;
            border-radius: $radius-small;
            margin: 0;
            background-color: $thumbs_bg;
            box-shadow: 0 3px 6px 0 rgba(15, 15, 15, 0.1), 20px 29px 154px 0 rgba(15, 15, 15, 0.2);

            @include media-breakpoint-only(xl) {
              width: 500px;
              flex: 0 0 500px;
            }

            @include media-breakpoint-only(lg) {
              width: 400px;
              flex: 0 0 400px;
            }

            @include media-breakpoint-down(md) {
              width: 100%;
              flex: 0 0 100%;
            }
            // box-shadow: 20px 29px 154px 0 rgba(15, 15, 15, 0.2);
          }

          & > .woocommerce-product-gallery__wrapper {
            height: $product_images;
            @extend .flex-center;

            @include media-breakpoint-only(xl) {
              height: 500px;
            }

            @include media-breakpoint-only(lg) {
              height: 400px;
            }

            @include media-breakpoint-down(md) {
              height: auto;
            }

            .woocommerce-product-gallery__image--placeholder {
              img {
                border-radius: $radius-small - 2px;
              }
            }

            .woocommerce-product-gallery__image {
              height: 100%;

              a {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: auto; 
                  max-height: 100%;
                }
              }
            }
          }

          & > .flex-viewport {
            @include media-breakpoint-only(md) {
              width: 634px;
              flex: 0 0 634px;
            }

            .woocommerce-product-gallery__wrapper {
              @include media-breakpoint-down(md) {
                width: 100% !important;
                display: flex;
              }
            }

            .woocommerce-product-gallery__image {
              width: $product_images - 4px !important;
              height: $product_images - 4px;
              display: flex !important;
              align-items: center;
              // justify-content: center;
              justify-content: center;
              margin-right: 84px !important;

              @include media-breakpoint-only(xl) {
                width: 496px !important;
                height: 496px;
              }

              @include media-breakpoint-only(lg) {
                width: 396px !important;
                height: 396px;
              }

              @include media-breakpoint-only(md) {
                width: $product_images !important;
                height: $product_images;
                margin-right: 0 !important;
              }

              @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                width: 100% !important;
                margin-right: 0 !important;
                height: auto;
              }
            }
          }
          
          .flex-control-thumbs {
            display: flex;
            flex-direction: column;
            order: -1;
    
            li {
              width: 70px !important;
              margin: 0 0 10px !important;
              background-color: $thumbs_bg;
              border-radius: $radius-small;

              &:last-of-type {
                margin: 0 !important;
              }

              img {
                position: relative;
                border-radius: $radius-thin;

                &:before {
                  /* Стилове за :before псевдо-елемента */
                  content: "";
                  display: block;
                  width: 10px; /* Пример за ширина */
                  height: 10px; /* Пример за височина */
                  background-color: red; /* Пример за цвят */
                }
              }
            }
          }

          .flex-control-paging {
            margin: 0;
            padding: 0;
            display: flex;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            list-style-type: none;

            a {
              width: 15px;
              height: 15px;
              margin: 0 5px;
              background-color: $G-3;
              border-radius: $radius-circle;
              display: inline-block;
              color: transparent;
              font-size: 0;

              &.flex-active {
                background-color: $b-highlight-two;
              }
            }
          }

          &__trigger {
            // Zoom image icon
            display: none;
          }
    
        }
    
        .summary {
          position: relative;
          display: flex;
          flex-direction: column;

          @include media-breakpoint-down(lg) {
            width: 100%;
            margin-top: 10px;
          }

          .custom-stock {
            display: flex;
            align-items: center;
            gap: 10px;

            @include media-breakpoint-down(xl) {
              // flex-direction: column;
              gap: 5px;
            }

            @include media-breakpoint-down(lg) {
              margin-bottom: 20px;
              align-items: baseline;
            }

            @include media-breakpoint-down(sm) {
              flex-direction: column;
            }
          }

          .reset_variations,
          .quantity,
          .product_meta,
          .added_to_cart {
            display: none !important;
          }

          .woocommerce-variation-sku-number {
            color: $text-tetriary;
          }

          .woocommerce-variation-add-to-cart {
            width: 100%;
          }
          
          .single_add_to_cart_button,
          .dsk_btn_click {
            width: 100%;

            @include media-breakpoint-down(xl) {
              padding: 10px;
            }

            &.loading {
              pointer-events: none;
              padding-right: 50px;

              &:after {
                color: $G-0;
                left: auto;
                right: 15px;
              }
            }

            &.disabled {
              pointer-events: none;
            }

            span {
              padding-left: 55px;
              background-image: url("../../assets/icons/svg/cart.svg");
              background-repeat: no-repeat;
              background-position: center left 20px;
              padding-right: 25px;
              margin: 0;
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;

              @include media-breakpoint-down(md) {
                padding-left: 30px;
                padding-right: 0;
                background-position: center left 0px;
              }
            }
          }

          .stock {
            padding: 4px 9px;
            display: inline-flex;
            align-items: center;
            border-radius: $radius-circle;
            color: $text-primary;
            align-self: baseline;

            &:before {
              display: none;
            }

            svg {
              margin-right: 6px;
            }
            
            &.in-stock,
            &.available-on-backorder {
              background-color: rgba($success, 0.05);
              border: 1px solid $success;

              svg {
                path {
                  fill: $success;
                }
              }
            }

            &.out-of-stock {
              background-color: rgba($error, 0.05);
              border: 1px solid $error;

              svg {
                path {
                  fill: $error;
                }
              }
            }
          }

          .price {
            display: none
          }

          .product_title {
            color: $text-primary;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;

            @include media-breakpoint-down(lg) {
              font-size: 24px;
              line-height: 33px;
            }
          }

          .woosw-btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 66px;
            height: 66px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $G-0-5;
            border: 1px solid $G-1;
            border-radius: 4px;

            &-icon {
              font-size: 22px;
              color: $G-4;
            }
          }

          .variations_form {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            padding-bottom: 50px;
            padding-top: 0;

            @include media-breakpoint-only(lg) {
              margin-bottom: 130px;
            }

            @include media-breakpoint-down(lg) {
              margin-bottom: 180px;
            }

            .woocommerce-variation {
              margin-bottom: 30px;

              @include media-breakpoint-only(lg) {
                margin-bottom: 10px;
              }
            }

            .woocommerce-variation-add-to-cart {
              position: absolute;
              left: 0;

              @include media-breakpoint-only(lg) {
                top: 100px;
                bottom: 0; 
              }
            }
          }

          .wapf {
            margin: 30px 0;

            @include media-breakpoint-down(sm) {
              margin: 0;
            }
          }

          .wapf-product-totals,
          .wapf-field-label,
          .wapf-pricing-hint {
            display: none !important;
          }

          .wapf-field-row {
            margin: 0;
          }

          .wapf-field-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding: 14px 20px 14px 90px;
            border: 1px solid rgba(15, 15, 15, 0.1);
            border-radius: $radius-small;
            gap: 22px;
            margin-bottom: 10px;
            background: url("../../assets/images/offroad_map.png") center left 20px no-repeat;

            @include media-breakpoint-down(sm) {
              flex-direction: column;
              padding-left: 20px;
              align-items: baseline;
              background-position: top 12px left 15px;
              gap: 7px;
            }


            .wapf-field-input {
              flex: 0 0 auto;
              max-width: 200px;

              @include media-breakpoint-down(sm) {
                position: relative;
                left: 50px;
              }
              
              .wapf-input-label {                
                border: 1px solid $G-3;
                padding: 10px 15px 10px 20px;
                border-radius: $radius-circle;
                position: relative;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                  background-color: rgba($b-primary, 0.05);
                }

                &:before,
                &:after {
                  background-color: $b-highlight-two;
                  content: '';
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                }

                &:before {
                  width: 12px;
                  height: 2px;
                  left: 20px;
                }

                &:after {
                  width: 2px;
                  height: 12px;
                  left: 25px;
                  transition: opacity 0.2s ease-in-out;
                }
              }

              .wapf-checkable {
                &.wapf-checked {
  
                  .wapf-label-text {
                    display: none;
                  }

                  .wapf-input-label:after {
                    // opacity: 0;
                    width: auto;
                    height: auto;
                    content: 'Премахни';
                    background-color: transparent;
                    left: 0;
                    position: inherit;
                    padding-left: 30px;
                    margin: 0;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                  }
                }
              }

              .wapf-label-text {
                padding-left: 30px;
                margin: 0;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;

                // &:before,
                // &:after {
                //   display: none;
                // }
              }
            }

            .wapf-field-description {
              display: flex;
              flex-direction: column;
              font-size: 12px;
              line-height: 20px;
              opacity: 1;

              b {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 2px;
              }
            }
          }

          .custom-price-box {
            border: 1px solid rgba(15, 15, 15, 0.1);
            height: 88px;
            padding: 10px;
            flex-direction: column-reverse;
            font-size: 0;
            @extend .flex-center;

            @include media-breakpoint-only(lg) {
              height: 60px;
            }

            .asnp-savedPrice {
              display: none;
            }
            
            .asnp-totalPrice-section {
              display: flex;
              flex-direction: column-reverse;
            }

            s {
                line-height: 20px;
                text-decoration: none;

              &:before {
                content: 'Намалено от ';
                display: inline-block;
                color: $text-primary; 
                font-size: 14px;
                line-height: 20px;
                margin-right: 3px;
              }

              .amount {
                text-decoration: line-through;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
              }
            }
       
            .amount {
              color: $text-primary;
              font-weight: 600;
              font-size: 28px;
              line-height: 38px;
            }


            ins,
            & > .price > .amount,
            & > .amount {
              margin-bottom: 2px;
              margin-left: 0;
              font-weight: 600;
              font-size: 28px;
              line-height: 38px;

              @include media-breakpoint-down(lg) {
                font-size: 24px;
                line-height: 33px;
              }
            }

            del {
              opacity: 1;
              text-decoration: none;
              margin: 0;
              font-size: 14px;
              line-height: 20px;
              @extend .flex-center;

              @include media-breakpoint-down(sm) {
                font-size: 12px;
                line-height: 16px;
              }

              &:before {
                display: block;
                content: 'Намалено от ';
              }

              bdi {
                padding-left: 5px;
                text-decoration: line-through;
              }

              ins {
                margin: 0;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
              }
            }

            .price {
              display: flex;
              align-items: center;
              flex-direction: column-reverse;
            }
          }

          form {
            @include media-breakpoint-down(sm) {
              margin-bottom: 0;
            }

            .single_add_to_cart_button,
            .dsk_btn_click,
            .custom-price-box {
              border-radius: $radius-medium;
              flex: 0 1 calc(50% - 5px);
            }

            .single_add_to_cart_button,
            .dsk_btn_click {
              &:before {
                border-radius: $radius-medium;
              }
            }
          }

          .woocommerce-variation-add-to-cart {
            bottom: -50px;
          }

          form,
          .woocommerce-variation-add-to-cart {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &:before,
            &:after {
              display: none;
            }
          }
        }
      }

      .woocommerce-tabs {
        z-index: 2;
        margin-top: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $G-0;
        border-radius: $radius-medium;
        padding: 30px;

        @include media-breakpoint-down(sm) {
          padding: 0;
          background-color: transparent;
        }

        .tabs {
          width: auto;
          float: none;
          display: flex;
          margin: 0;
          gap: 20px;
          padding: 0;
          border: none;

          li {
            border: none;

            &.active {
              border-bottom: 2px solid $G-8;
            }

            &:after {
              display: none;
            }

            a {
              text-decoration: none;
              padding: 0 0 8px;
              margin: 0;
              color: $text-primary;
              font-size: 21px;
              line-height: 29px;

              @include media-breakpoint-down(lg) {
                font-size: 18px;
                line-height: 25px;
              }
            }
          }
        }

        .entry-content {
          width: 100%;
          margin: 0;
          padding-top: 10px;
          padding-bottom: 20px;

          p {
            margin: 0;
            font-size: 14px;
            line-height: 20px;
          }

          ul,
          ol {
            margin: 0;
          }

          ul {
            list-style-type: disc;
          }
        }
      }

      // &.product-type-variable {
      //   .summary {
      //     & > .price {
      //       display: none;
      //     }
      //   }
      // }

      .related {
        .popular-categories {
          padding-bottom: 0;

          @include media-breakpoint-down(lg) {
            display: block;
          }

          a {
            @include media-breakpoint-down(lg) {
              display: none;
            }
          }
        }
      }
    }

    ul.flex-direction-nav {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: calc(100% - 80px);
      right: 0;
      margin: 0;
      padding: 0px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(xl) {
        width: 100%;
      }

      @include media-breakpoint-only(md) {
        padding-right: 35px;
      }
      
      li {
        display: flex;
      }
      
      a {
        visibility: hidden;
        margin: 0;
        font-size: 0;
        display: inline-block;
        text-decoration: none;

        &.flex-prev::before,
        &.flex-next::after {
          background: rgba(255, 255, 255, 0.5);
          color: black;
          padding: 10px;
          width: 46px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          margin: 0 !important;
        }

        &.flex-prev::before {
          visibility:visible;
          content: '\f053';
          font-family: 'Font Awesome 5 Free';   
          margin-left: 10px;
          font-size: 20px;
          font-weight: bold;
        }

        &.flex-next::after {
          visibility:visible;
          content: '\f054';
          font-family: 'Font Awesome 5 Free';
          margin-right: 10px;
          font-size: 20px;   
          font-weight: bold;
        }
      }
    }
  }

  .variations {
    .label {
      margin-bottom: 10px;
      font-size: 12px;
      
      label {
        font-weight: 600;
      }

      .cfvsw-selected-label {
        display: none;
      }
    }

    .cfvsw-swatches-container {
      grid-gap: 5px;

      @include media-breakpoint-down(md) {
        width: 100%;
        flex-flow: nowrap;
      }
    }

    .cfvsw-label-option {
      padding: 0 29px;
      border-color: $G-1-5;

      @include media-breakpoint-only(lg) {
        min-height: 42px !important;
      }

      &.cfvsw-swatches-blur-disable {
        color: $text-secondary;
        background-color: $G-1;
      }
    }
  }
}

#addedToCart,
#deleteProductConfirmation {
  .modal-body {
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .img-wrapper {
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      img {
        @include media-breakpoint-down(md) {
          width: 100%;
          max-width: none;
        }
      }
    }

    .content-footer {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 27px;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 5px;
      }

      p {
        @include media-breakpoint-down(md) {
          margin: 0;
        }
      }

      .button-primary-orange,
      .button-secondary-grey {
        margin-top: 0;
      }
    }


    .paragraph {
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }

    .button {
      @include media-breakpoint-down(md) {
        width: 100%;
        text-align: center;
        margin: 5px 0;
      }
    }
  }
}

// hardcoded for chrom
.storefront-full-width-content.single-product {
  &.chrome,
  &.safari {
    div.product .product-gallery-section .woocommerce-product-gallery > .flex-viewport .woocommerce-product-gallery__image {
      margin-right: 0 !important;
    }
  }
}