.storefront-full-width-content {
  &.single-product {
    #main {
      background-color: $G-0-5;
    }

    div.product {
      overflow: visible;
    }

    .storefront-breadcrumb {
      padding: 20px 0;
      margin: 0;
    }

    .storefront-product-pagination {
      display: none;
    }

    div.product {
      .product-gallery-section {
        display: flex;
        gap: 30px;
        padding: 20px;
        border-radius: $radius-medium;
        background-color: $G-0;
    
        .woocommerce-product-gallery,
        .summary {
          margin: 0;
        }
    
        .woocommerce-product-gallery {
          // flex: 0 1 64.725%;
          width: auto;
          display: flex;
          gap: 10px;

          // &__wrapper {
          //   border: 2px solid $G-0;
          //   border-radius: $radius-small;
          //   overflow: hidden;
          //   position: relative;
          //   box-shadow: 0 3px 6px 0 rgba(15, 15, 15, 0.1), 20px 29px 154px 0 rgba(15, 15, 15, 0.2);
          // }
          
          // &__image {
            // }
            
          
          & > .flex-viewport,
          & > .woocommerce-product-gallery__wrapper {
            flex: 0 0 $product_images;
            width: $product_images;
            border: 2px solid $G-0;
            border-radius: $radius-small;
            margin: 0;
            background-color: $thumbs_bg;
            box-shadow: 0 3px 6px 0 rgba(15, 15, 15, 0.1), 20px 29px 154px 0 rgba(15, 15, 15, 0.2);
            // box-shadow: 20px 29px 154px 0 rgba(15, 15, 15, 0.2);
          }

          & > .woocommerce-product-gallery__wrapper {
            height: $product_images;
            @extend .flex-center;

            .woocommerce-product-gallery__image--placeholder {
              img {
                border-radius: $radius-small - 2px;
              }
            }
          }

          & > .flex-viewport {
            .woocommerce-product-gallery__image {
              width: $product_images !important;
              height: $product_images;
              display: flex !important;
              align-items: center;
              // justify-content: center;
              justify-content: center;
              margin-right: 80px !important;
            }
          }
    
          .flex-control-thumbs {
            display: flex;
            flex-direction: column;
            order: -1;
    
            li {
              width: 70px !important;
              margin: 0 0 10px !important;
              background-color: $thumbs_bg;
              border-radius: $radius-small;

              &:last-of-type {
                margin: 0 !important;
              }

              img {
                position: relative;
                border-radius: $radius-thin;

                &:before {
                  /* Стилове за :before псевдо-елемента */
                  content: "";
                  display: block;
                  width: 10px; /* Пример за ширина */
                  height: 10px; /* Пример за височина */
                  background-color: red; /* Пример за цвят */
                }
              }
            }
          }

          &__trigger {
            // Zoom image icon
            display: none;
          }
    
        }
    
        .summary {
          position: relative;
          display: flex;
          flex-direction: column;

          .reset_variations,
          .quantity,
          .product_meta,
          .added_to_cart {
            display: none !important;
          }

          .woocommerce-variation-sku-number {
            margin-left: 5px;
            color: $text-tetriary;
          }

          .woocommerce-variation-add-to-cart {
            width: 100%;
          }
          
          .single_add_to_cart_button {
            width: 100%;

            &.loading {
              pointer-events: none;
              padding-right: 50px;

              &:after {
                color: $G-0;
                left: auto;
                right: 15px;
              }
            }

            &.disabled {
              pointer-events: none;
            }

            span {
              padding-left: 55px;
              background-image: url("../../assets/icons/svg/cart.svg");
              background-repeat: no-repeat;
              background-position: center left 20px;
              padding-right: 25px;
              @extend #{'.paragraph','.paragraph-l', '.semibold'};
            }
          }

          .stock {
            padding: 4px 9px;
            display: inline-flex;
            align-items: center;
            border-radius: $radius-circle;
            color: $text-primary;
            align-self: baseline;

            &:before {
              display: none;
            }

            svg {
              margin-right: 6px;
            }
            
            &.in-stock,
            &.available-on-backorder {
              background-color: rgba($success, 0.05);
              border: 1px solid $success;

              svg {
                path {
                  fill: $success;
                }
              }
            }

            &.out-of-stock {
              background-color: rgba($error, 0.05);
              border: 1px solid $error;

              svg {
                path {
                  fill: $error;
                }
              }
            }
          }

          .price {
            display: none
          }

          .product_title {
            @extend #{'.h3','.primary', '.semibold'};
          }

          .woosw-btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 66px;
            height: 66px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $G-0-5;
            border: 1px solid $G-1;
            border-radius: 4px;

            &-icon {
              font-size: 22px;
              color: $G-4;
            }
          }

          .variations_form {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            padding-bottom: 50px;
            padding-top: 0;

            .woocommerce-variation {
              margin-bottom: 30px;
            }

            .woocommerce-variation-add-to-cart {
              position: absolute;
              left: 0;
            }
          }

          .custom-price-box {
            border: 1px solid rgba(15, 15, 15, 0.1);
            height: 88px;
            flex-direction: column-reverse;
            @extend .flex-center;

            ins,
            & > .price > .amount,
            & > .amount {
              @extend #{'.h3', '.semibold'};
              margin-bottom: 2px;
              margin-left: 0;
            }

            del {
              opacity: 1;
              text-decoration: none;
              @extend .flex-center;
              @extend #{'.paragraph', '.paragraph-l'};

              &:before {
                display: block;
                content: 'Намалено от ';
              }

              bdi {
                padding-left: 5px;
                text-decoration: line-through;
              }
            }

            .price {
              display: flex;
              align-items: center;
              flex-direction: column-reverse;
            }
          }

          form {
            .single_add_to_cart_button,
            .custom-price-box {
              border-radius: $radius-medium;
              flex: 0 1 calc(50% - 5px);
            }

            .single_add_to_cart_button {
              &:before {
                border-radius: $radius-medium;
              }
            }
          }

          .woocommerce-variation-add-to-cart {
            bottom: -50px;
          }

          form,
          .woocommerce-variation-add-to-cart {
            display: flex;
            justify-content: space-between;

            &:before,
            &:after {
              display: none;
            }
          }
        }
      }

      .woocommerce-tabs {
        z-index: 2;
        margin-top: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $G-0;
        border-radius: $radius-medium;
        padding: 30px;

        .tabs {
          width: auto;
          float: none;
          display: flex;
          margin: 0;
          gap: 20px;
          padding: 0;
          border: none;

          li {
            border: none;

            &.active {
              border-bottom: 2px solid $G-8;
            }

            &:after {
              display: none;
            }

            a {
              text-decoration: none;
              padding: 0 0 8px;
              margin: 0;
              @extend #{'.h4','.primary'};
            }
          }
        }

        .entry-content {
          width: 100%;
          margin: 0;
          padding-top: 10px;
          padding-bottom: 20px;

          p {
            @extend #{'.paragraph','.paragraph-l'};
          }
        }
      }

      // &.product-type-variable {
      //   .summary {
      //     & > .price {
      //       display: none;
      //     }
      //   }
      // }

      .related {
        .popular-categories {
          padding-bottom: 0;
        }
      }
    }

    ul.flex-direction-nav {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: calc(100% - 80px);
      right: 0;
      margin: 0;
      padding: 0px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      li {
        display: flex;
      }
      
      a {
        visibility: hidden;
        margin: 0;
        font-size: 0;
        display: inline-block;
        text-decoration: none;

        &.flex-prev::before,
        &.flex-next::after {
          background: rgba(255, 255, 255, 0.5);
          color: black;
          padding: 10px;
          width: 46px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          margin: 0 !important;
        }

        &.flex-prev::before {
          visibility:visible;
          content: '\f053';
          font-family: 'Font Awesome 5 Free';   
          margin-left: 10px;
          font-size: 20px;
          font-weight: bold;
        }

        &.flex-next::after {
          visibility:visible;
          content: '\f054';
          font-family: 'Font Awesome 5 Free';
          margin-right: 10px;
          font-size: 20px;   
          font-weight: bold;
        }
      }
    }
  }

  .variations {
    .label {
      margin-bottom: 10px;
      font-size: 12px;
      
      label {
        font-weight: 600;
      }

      .cfvsw-selected-label {
        display: none;
      }
    }

    .cfvsw-swatches-container {
      grid-gap: 5px; 
    }

    .cfvsw-label-option {
      padding: 0 29px;
      border-color: $G-1-5;

      &.cfvsw-swatches-blur-disable {
        color: $text-secondary;
        background-color: $G-1;
      }
    }
  }
}