#middle-section {
  position: relative;
  padding: 20px 0;
  background-color: $G-0;
  border-radius: $radius-medium $radius-medium 0 0;

  @include media-breakpoint-down(lg) {
    padding: 10px 0;
  }

  .site-title {
    @extend .flex-center-y;

    .logo,
    .custom-logo-link {
      font-size: 21px;
      line-height: 29px;
      font-weight: 600;
      margin-right: 30px;
      margin-bottom: 0;

      @include media-breakpoint-down(lg) {
        margin: 0 auto;
      }
    }

    input {
      margin: 0;
    }

    .wp-block-yith-search-block,
    .yith-ajaxsearchform-container {
      width: 100%;

      @include media-breakpoint-down(lg) {
        width: calc(100% - 65px);
        display: none;
        position: absolute;
        left: 50px;
        background-color: $G-0;
      }

      form {
        & > div {
          display: flex;
        }
      }

      #yith-s,
      .lapilliUI-Input__field {
        width: 100%;
        height: 40px !important;
        padding: 0 8px 0 40px !important;
        border: 1px solid $G-1-5 !important;
        transition: border-color 0.2s ease;
        background-color: $G-0-5 !important;
        background-image: url('../../assets/icons/svg/search.svg');
        background-position: center left 15px;
        background-repeat: no-repeat;
        margin: 0;
        font-size: 12px !important;
        box-shadow: none;
        outline: none;
        border-radius: $radius-circle !important;
        color: $text-secondary !important;
        
        &:focus {
          border-color: $b-primary !important;
        }
      }

      .search-result-item__thumbnail {
        width: 50px !important;
      }

      .ywcas-search-results-grid {
        gap: 5px !important;
      }

      #yith-searchsubmit,
      .lapilliUI-Input__endAdornment {
        display: none;
      }

      .ywcas-input-field-wrapper {
        border: none !important;
      }
    }
  }

  .search {
    display: none;

    @include media-breakpoint-down(lg) {
      width: 0;
      order: -1;
      position: relative;
      left: 3px;
      display: inline-block;
    }
  }
}