#middle-section {
  position: relative;
  padding: 20px 0;
  background-color: $G-0;
  border-radius: $radius-medium $radius-medium 0 0;

  @include media-breakpoint-down(lg) {
    padding: 10px 0;
  }

  .site-title {
    @extend .flex-center-y;

    .logo,
    .custom-logo-link {
      font-size: 21px;
      line-height: 29px;
      font-weight: 600;
      margin-right: 30px;
      margin-bottom: 0;
      display: block;
      height: 37px;

      @include media-breakpoint-down(lg) {
        margin: 0 auto;
        padding-right: 8px;
      }
    }

    input {
      margin: 0;
    }

    .wp-block-yith-search-block,
    .yith-ajaxsearchform-container {
      width: 100%;
      height: 40px;

      @include media-breakpoint-down(lg) {
        width: calc(100% - 65px);
        display: none;
        position: absolute;
        left: 50px;
        background-color: $G-0;
      }

      form {
        & > div {
          display: flex;
        }
      }

      #yith-s,
      .lapilliUI-Input__field {
        width: 100%;
        height: 40px !important;
        padding: 0 8px 0 40px !important;
        border: 1px solid $G-1-5 !important;
        transition: border-color 0.2s ease;
        background-color: $G-0-5 !important;
        background-image: url('../../assets/icons/svg/search.svg');
        background-position: center left 15px;
        background-repeat: no-repeat;
        margin: 0;
        font-size: 12px !important;
        box-shadow: none;
        outline: none;
        border-radius: $radius-circle !important;
        color: $text-primary !important;
        
        &:focus {
          border-color: $b-primary !important;
        }

        @include placeholder {
          color: $text-secondary;
        }
      }

      .lapilliUI-Input__field {
        @include media-breakpoint-down(lg) {
          background-color: transparent !important;
          border: none !important;
        }

        @include media-breakpoint-only(md) {
          &::placeholder {
            color: transparent;
          }
        }
      }

      
      #yith-searchsubmit,
      .lapilliUI-Input__endAdornment {
        display: none;
      }
      
      .ywcas-input-field-wrapper {
        border: none !important;
      }
    }

    .wp-block-yith-search-block {
      @include media-breakpoint-down(md) {
        width: 48px;
        left: 0;
        z-index: 5;
        display: block;
      }

      @include media-breakpoint-only(md) {
        width: 290px;
        left: calc((100% - 720px)/ 2);
        z-index: 5;
        display: block;
      }
    }
  }

  .search {
    display: none;

    @include media-breakpoint-down(lg) {
      width: 16px;
      height: 16px;
      order: -1;
      position: relative;
      left: 3px;
      display: flex;
    }

    svg {
      transition: opacity 0.2s ease;
    }

    .close_icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &.opened {
      .close_icon {
        opacity: 1;
      }

      .search_icon {
        opacity: 0;
      }
    }
  }
}

.ywcas-popover-results {
  .search-result-item {
    &__thumbnail {
      width: 50px !important;
      background-color: $thumbs_bg;
      border-radius: $radius-small;
      position: relative;
  
      &:before {
        width: 100%;
        height: 100%;
        background-color: rgba($b-highlight-one, 0.1);
        opacity: 0;
        transition: opacity 0.25s ease;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
  
      img {
        border: none !important;
      }

      .ywcas-onsale-badge { 
        display: none !important;
      }
    }

    &:hover {
      .search-result-item__thumbnail:before {
        opacity: 1;
      }
    }
  }

  

  .ywcas-search-results-grid {
    gap: 5px !important;
  } 
}

.ywcas-search-mobile {
  .ywcas-block-components-search-field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px !important;
  }

  .mobile-search-close {
    margin: 0 0px 3px 20px !important;

    & + div {
      flex: 1 1 auto;
    }
  }

  .mobile-search-content {
    padding: 20px;

    .ywcas-search-results-grid {
      gap: 5px !important;
    }

    .css-1st3ua0 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .ywcas-submit-wrapper {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../../assets/icons/svg/search.svg');

    svg {
      display: none;
    }
  }
}
