@import './top/style';
@import './middle/style';
@import './bottom/style';

#header {
  background-color: $b-primary;
  padding-top: 52px;

  @include media-breakpoint-down(lg) {
    padding-top: 70px;
  }
}