#hero-section {
  max-height: 450px;
  // padding: 50px 0 0;
  color: $G-0;
  // background: url(../../assets/images/home_hero_teo.jpg) center top no-repeat;
  // background-size: cover;
  position: relative;
  display: flex;
  gap: 20px;

  @include media-breakpoint-down(lg) {
    max-height: none;
    flex-direction: column;
    gap: 6px;
  }

  // @include media-breakpoint-down(lg) {
  //   background-size: auto 225px;
  //   background-position: top center;
  // }

  .information-list-section {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    .information-list {
      position: relative;
      height: 105px;
      
      &__item {
        width: 100%;
        flex: 0 0 100%;
        // opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s ease-in-out;
        animation: slideAnimation 12s infinite;

        &:nth-child(1) {
          animation-delay: 0s;
        }
        
        &:nth-child(2) {
          animation-delay: 3s;
          transform: translateX(150%); /* идва отдясно */
        }
        
        &:nth-child(3) {
          animation-delay: 6s;
          transform: translateX(150%); /* идва отдясно */
        }
        
        &:nth-child(4) {
          animation-delay: 9s;
          transform: translateX(150%); /* идва отдясно */
        }

        @keyframes slideAnimation {
          0% {
            transform: translateX(150%); /* идва отдясно */
          }
          8% {
            transform: translateX(0); /* център */
          }
          25% {
            transform: translateX(0); /* стои */
          }
          33% {
            transform: translateX(-150%); /* излиза наляво */
          }
          100% {
            transform: translateX(-150%); /* остава излязъл */
          }
        }
        
        // @keyframes opacityAnimation {
        //   0% { opacity: 0; }
        //   8% { opacity: 1; }
        //   25% { opacity: 1; }
        //   33% { opacity: 0; }
        //   100% { opacity: 0; }
        // }
      }
    }
  }

  .hero-logo {
    padding: 14px 17px;
    background-color: $G-0;
    border-radius: $radius-medium;
    display: inline-flex;
    min-height: 55px;
    align-items: center;
    // margin-bottom: 150px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .hero_title {
    color: $G-0;
    margin-bottom: 6px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 33px;
    }

    em,
    i {
      font-style: normal;
      color: $b-highlight-two;
    }

    p {
      margin: 0;
    }
  }

  .on-sale-container {
    width: 40%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
      width: 100%;
      height: 415px;
    }

    .on-sale-header {
      color: $text-primary;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .accordion {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 3px;

      &-item {
        border: none;
        background-color: $b-tetriary;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: none;
        background-size: 100%;
        border-radius: 10px;
        position: relative;
        height: 46px;
        transition: height 0.35s ease;
        // background-size: cover;

        @include media-breakpoint-only(md) {
          background-image: none !important;
        }
        
        &.opened {
          height: 202px;
          // background-image: url('../../assets/images/kenny_promotion.jpg'); 

          .button-secondary-grey {
            opacity: 1;
            visibility: visible;
          }
        }

        &:not(.opened) {
          background-image: none !important;
        }

        .button-secondary-grey {
          width: calc(100% - 20px);
          outline: 4px solid rgba($G-0, 0.2);
          border: none;
          position: absolute;
          left: 10px;
          padding: 7px;
          bottom: 10px;
          opacity: 0;
          transition: opacity 0.2s ease, visibility 0.2s ease;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 15px;

          svg {
            margin-top: 3px;
          }
        }
      }

      &-button {
        padding: 10px;
        background-color: $b-tetriary;
        border-radius: 10px;
        box-shadow: none;
        display: flex;
        gap: 10px;
        align-items: center;
        color: $text-primary;

        &:not(.collapsed) {
          pointer-events: none;

          .expired-date {
            opacity: 1;
            visibility: visible;
            margin-top: 0;
          }

          .on-sale-percentage {
            height: 46px;
            color: $G-0;
            background-color: $b-primary;
          }
        }

        .expired-date {
          display: block;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s ease, visibility 0.2s ease, margin-top 0.2s ease;
          margin: -14px 0 0;
          font-size: 12px;
          line-height: 16px;
        }

        .on-sale-percentage {
          padding: 0 8px;
          display: flex;
          align-items: center;
          height: 26px;
          border-radius: $radius-small;
          background-color: rgba($text-primary, 0.1);
          transition: background-color 0.2s ease, height 0.2s ease, color 0.2s ease;
          margin: 0;
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
        }
      }

      &-body {
        padding: 0;
      }

      // .accordion-collapse {
        // background-color: khaki;
        // height: calc(100% - 66px);
      // }
    }

  }

  .swiper {
    width: 100%;
    border-radius: $radius-medium;

    @include media-breakpoint-only(md) {
      height: 606px !important;
    }

    @include media-breakpoint-down(sm) {
      height: 356px !important;
    }

    .swiper-wrapper {
      @include media-breakpoint-down(sm) {
        height: 330px !important;
      }

      @include media-breakpoint-only(md) {
        height: 580px !important;
      }
    }

    .button {
      margin: 26px 0 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }

    .swiper-slide {
      padding: 50px 40px;
      justify-content: flex-end;
      min-height: 450px;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(lg) {
        min-height: 0;
        padding: 0;
        height: 100%;
        border-radius: $radius-medium;
        overflow: hidden;
      }

      .mobile-slide-view {
        max-width: 600px;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
          max-width: none;
          margin-top: -75px;
          background-color: $b-primary;
          padding: 20px;
          border-radius: $radius-medium;
        }

        @include media-breakpoint-down(lg) {
          min-height: auto;
          background-color: transparent;
          position: absolute;
          left: 0;
          bottom: 0;
          // width: calc(100% - 24px);
          // margin-left: auto;
          // margin-right: auto;
          // min-height: auto;
        }

        &.no-logo {
          justify-content: end;
        }
        
      }

      .slide-image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: baseline;
        justify-content: center;

        @include media-breakpoint-down(lg) {
          // height: 175px;
          position: relative;
          // top: -50px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        z-index: -1;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,023047+100&0+0,0.79+100 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(2,48,71,0.79) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
        @include media-breakpoint-down(lg) {
          height: 175px;
        }

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 20px !important;
  @extend .flex-center;

  @include media-breakpoint-down(lg) {
    top: auto !important;
    bottom: 0 !important;
    // bottom: calc(100% + 10px) !important;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    opacity: 0.2;
    background-color: $b-primary;

    @include media-breakpoint-up(lg) {
      background-color: $G-0;
      opacity: 0.5;
    }

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

.siwper-navigation {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    margin: 0 0 0 20px;

    @include media-breakpoint-down(sm) {
      margin-left: 10px;
    }
    
    &:after {
      font-size: 25px;
      font-weight: bold;
      color: $G-8;
    }
  }
}

div.quick-order {
  background-color: #f3f3f3;
  border: 1px solid #e4e4e4;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #685a4d;
}

// span.wpcf7-not-valid-tip {
//   color: #f00;
//   font-size: 1em;
//   font-weight: normal;
//   display: inline-block;
// }

// .use-floating-validation-tip span.wpcf7-not-valid-tip {
//   position: absolute;
//   top: 20%;
//   left: 7%;
//   z-index: 100;
//   border: 1px solid red;
//   background: #fff;
//   padding: .2em .8em;
//   width: 85%;
//   text-align: left;
// }

.wpcf7 input[type="text"].product_sku,
.wpcf7 input[type="text"].product_name {
  display: none;
}

// .wpcf7 p {
//   clear: both;
//   height: auto;
//   overflow: hidden;
//   margin: 0 10px;
// }

// .wpcf7 input.wpcf7-submit[type="submit"] {
//   transition: all .3s ease-in-out;
//   -moz-transition: all .3s ease-in-out;
//   -webkit-transition: all .3s ease-in-out;
//   -o-transition: all .3s ease-in-out;
//   border: 0;
//   border-radius: 0;
// }