.modal {
  backdrop-filter: blur(2px);  

  &-dialog {
    max-width: 700px;
  }

  &-content {
    border: none;
    border-radius: $radius-medium;
    box-shadow: 0px 3px 6px 0px rgba(15, 15, 15, 0.1), 0px 9px 24px 0px rgba(15, 15, 15, 0.2);
  }

  &-body {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 40px;

    .img-wrapper {
      border-radius: $radius-small;
      overflow: hidden;
      background-color: $thumbs_bg; 
      
      @include media-breakpoint-up(md) {
        flex: 0 0 180px;
      }

      img {
        max-width: 180px;
      }
    }

    .button-primary-orange {
      margin-right: 5px;
      margin-top: 27px;
    }
    
    .button-secondary-grey {
      margin-left: 5px;
      margin-top: 27px;
    }
  }

  &#consentBanner,
  &#consentBannerOptions {
    .modal-dialog {
      max-width: 520px;

      @include media-breakpoint-down(md) {
        margin: 0 auto;
        align-items: end;
        height: 100%;
      }
    }

    .content-footer{
      display: flex;
      gap: 20px;
      padding-top: 25px;

      .button {
        margin: 0;
        flex: 1 0 auto;
      }

      .paragraph {
        height: 45px;
      }
    }
  }

  &#filterModal {
    .modal-header {
      @include media-breakpoint-down(md) {
        justify-content: space-between;
      }
    }

    .modal-body {
      align-items: flex-start;

      .button-primary-orange {
        width: 100%;
        margin-right: 0;
        text-align: center;

        svg {
          margin-left: 12px;
          margin-right: 5px;

          path {
            fill: $G-0;
          }
        }
      }

      .promo-products-filter {
        margin: 0;
      }
    }
  }
}

.modal-backdrop {
  background-color: rgba($b-primary, 0.1);
}