.exclusive-brands {
  background-color: $G-0;
  padding: 70px 0 40px;
  border-radius: $radius-medium $radius-medium 0 0;
  margin-top: -$radius-medium;
  position: relative;
  z-index: 2;

  .list-all {
    text-decoration: none;
    color: $b-highlight-two;
  }

  .swiper {
    overflow: inherit;
  }

  .siwper-navigation {
    top: -30px;

    @include media-breakpoint-down(lg) {
      z-index: 22;
      bottom: 0;
      top: auto;
      width: 50%;
      display: flex;
      justify-content: space-between;  
      right: 50%;
      transform: translateX(50%);
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      @include media-breakpoint-down(lg) {
        color: $G-8;
      }
    }
  }

  .col {
    & > p {
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }
  }

  .brands__list {
    // display: flex;
    gap: 0;
    flex-wrap: nowrap;
    // margin: 20px 0 0;
    // padding: 0;

    .brands__list-item {
      flex: none;
      height: 170px;

      @include media-breakpoint-down(lg) {
        min-height: auto;
        height: auto;
        // flex: 0 0 100%;
      }

      &-link {
        @include media-breakpoint-down(lg) {
          min-height: 71px;
          height: 71px;
        }
      }

      .exclusive-banner {
        @include media-breakpoint-down(lg) {
          font-size: 10px;
        }
      }

      .brand_name {
        @include media-breakpoint-down(lg) {
          align-items: center;
          font-weight: 600;
          flex-direction: column;
          align-items: center;
        }
      }

      img {
        object-fit: cover;
      }
    }
  }
}