.exclusive-brands {
  background-color: $G-0;
  padding: 70px 0;
  border-radius: $radius-medium $radius-medium 0 0;
  margin-top: -$radius-medium;
  position: relative;
  z-index: 2;

  .brands-list {
    display: flex;
    gap: 10px;
    margin: 20px 0 0;
    padding: 0;

    @include media-breakpoint-down(md) {
      flex-flow: row wrap;
    }

    &__item {
      flex: 1 1 auto;
      border: 1px solid $G-1-5;
      border-radius: $radius-small;
      @extend .flex-center;

      @include media-breakpoint-down(md) {
        min-height: 90px;
        flex: 0 0 calc(50% - 5px);
      }
    }
  }
}