.exclusive-brands {
  background-color: $G-0;
  padding: 70px 0 40px;
  border-radius: $radius-medium $radius-medium 0 0;
  margin-top: -$radius-medium;
  position: relative;
  z-index: 2;

  .brands__list {
    display: flex;
    gap: 10px;
    // margin: 20px 0 0;
    // padding: 0;

    .brands__list-item {
      flex: 1 1 auto;
      height: 90px;

      @include media-breakpoint-down(md) {
        min-height: 90px;
        flex: 0 0 100%;
      }

      img {
        max-height: 100%;
      }
    }
  }
}