.blockUI {
  height: 100vh !important;
}

.wpfSlugWrapper {
  display: none !important;
}

.wpfFilterWrapper {
  border-bottom: 1px solid;
}

.custom_cat_filters {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid;
}

.wpfPreview {
  width: 110px !important;
  margin: auto !important;

  .woobewoo-filter-loader.spinner {
    width: 110px;
    height: 110px;
    animation-duration: 2.5s;
    background-repeat: no-repeat;
    background-image: url('../../assets/icons/svg/logo.svg')
  }
}

.wpfMainWrapper {
  top: 9px;

  .wpfFilterWrapper[data-filter-type]:not([data-filter-type="wpfSortBy"]) {
    border: 1px solid rgba($b-primary, 0.1);
    border-radius: $radius-small;
    padding: 6px 10px 6px 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;

    .wfpTitle { 
      height: auto;
      line-height: 24px;
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }

    .wpfFilterTitle {
      position: relative;
    }

    .wpfTitleToggle {
      width: 8px;
      height: 4px;
      position: absolute;
      right: 5px;
      top: 10px;
      transform: rotate(-90deg);
      background-image: url('../../assets/icons/svg/arrow_primary.svg');
      transition: transform 0.2s ease;


      &.fa-minus {
        transform: rotate(0deg);
      }

      &:before {
        display: none;
      }
    }

    ul {
      margin-top: 33px;
      margin-bottom: 3px;
    }

    .wpfCheckbox {
      label {
        width: 18px !important;
        height: 18px !important;
        margin: 3px 0 0;
  
        &:before {
          border-radius: $radius-thin;
          border-color: $G-3 !important;
          transition: border-color 0.2s ease;
        }
      }

      input[type="checkbox"] {        
        &:checked {
          & + label::before {
            background-image:  url('../../assets/images/checked.png') !important;
            background-size: 8px 8px !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            border-color: $G-5 !important;
          }
        }
      }
      
    }

    .wpfFilterTaxNameWrapper {
      opacity: 0.8;
      transition: opacity 0.2s ease;
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }

    li {
      &:hover {
        .wpfFilterTaxNameWrapper {
          opacity: 1;
        }

        .wpfCheckbox label:before {
          border-color: $G-5 !important;
        }
      }
    }

    &.wpfNotActive {
      .wpfBlockClear {
        &:after {
          opacity: 1;
        }

        &:before {
          border-color: $G-5;
        }
      }
    }
  }

  .wpfClearButton.wpfButton {
    // width: auto;
    line-height: 20px;
    position: absolute;
    text-transform: inherit;
    padding: 3px 9px;
    min-height: auto;
    border-radius: 8px;
    right: 0;
    top: -45px;
    left: 74px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    @include media-breakpoint-down(xl) {
      position: relative;
      display: block !important;
      top: 0;
      width: 100%;
      left: 0;
    }
  }

  .wpfBlockClear {
    display: block !important;
    position: absolute;
    left: 0;
    top: calc(100% + 9px);
    color: rgba($text-primary, 0.8) !important;
    z-index: 5;
    padding-left: 28px;
    transition: color 0.2s ease;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    &:before {
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: $radius-thin;
      border: 1px solid $G-3;
      transition: border-color 0.2s ease;
      margin: 0 !important;
      content: '' !important;
    }

    &:after {
      width: 8px;
      height: 8px;
      display: block;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 2px;
      background: $b-primary;
      opacity: 0;
      transition: opacity 0.2s ease;
      content: '' !important;
    }

    &:hover {
      color: $text-primary !important;

      &:before {
        border-color: $G-5;
      }
    }
  }
}

.home {
  #primary {
    border-top: 1px solid $G-1-5;
    padding-top: 30px;
    @include media-breakpoint-down(lg) {
      padding-top: 10px;
    }
  }

  .container {
    & + .information-list-section {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}

.mobile-wrapper {
  @include media-breakpoint-down(xl) {
    margin-bottom: 28px;
  }

  @include media-breakpoint-down(xl) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .dropdown {
    @include media-breakpoint-down(xl) {
      margin-bottom: 0;
      flex: 0 0 calc(50% - 5px);
    }
  }

  .filter-modal {
    @include media-breakpoint-down(xl) {
      background-image: url('../../assets/icons/svg/filter.svg');
      background-position: center right 12px;
      background-repeat: no-repeat;
      background-color: rgba($b-primary, 0.05);
      text-align: left;
      flex: 0 0 calc(50% - 5px);
    }

    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.mobile-modal {
  .modal-header,
  .modal-body {
    padding: 15px;
  }

  .close {
    padding: 10px;
    background-color: transparent;
  }

  .modal-body {
    height: auto;
    max-height: calc(100vh - 250px);
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: auto;
  }
}