.blockUI {
  height: 100vh !important;
}

#child_cat {
  .filter-item.checkbox.active.level-0 > label, 
  .filter-item.checkbox.level-0 > label, 
  .filter-item.level-0.active .filter-items .filter-items, 
  .filter-item.level-1.active .filter-items,
  .filter-item.level-0:not(.active) .filter-item.level-1:not(.active) > label {
    display: none;
  }
  // .filter-item.checkbox.level-0.no-color:not(.active),
  // .filter-item.checkbox.level-0.no-color.active > label,
  // .filter-items.filter-checkbox.level-1 .filter-items.filter-checkbox.level-1 {
  //   display: none;
  // }

}

#sub_child_cat {
  .filter-item.checkbox.active.level-0 > label,
  .filter-item.checkbox.active.level-0 > .filter-items.level-1 > li > label,
  .filter-item.level-0:not(.active) > label,
  .filter-item.level-0:not(.active) > .filter-items.level-1 > .filter-item.active > label,
  .filter-item.level-0:not(.active) > .filter-items.level-1 > .filter-item:not(.active) > label {
    display: none;
  }
  // .filter-item.checkbox.level-0.no-color:not(.active),
  // .filter-item.checkbox.level-0.no-color.active > label,
  // .filter-item.checkbox.level-0.no-color.active > .filter-items.filter-checkbox.level-1 > .filter-item.checkbox.level-1.no-color > label {
  //   display: none;
  // }
}

#child_cat,
#sub_child_cat {
  ul {
    margin: 0;
    padding: 0 !important;
  }
}

#cat-filters {
  display: inline-flex;
  gap: 5px;
}

.yith-wcan-filters {
  background-color: transparent;
  display: inline-flex;
  margin: 0;

  form {
    display: flex;
    gap: 5px;
  }

  .yith-wcan-filter {
    position: relative;
    margin-bottom: 0;

    .filter-title {
      color: $text-primary;
      padding-right: 12px;
      background: url('../../assets/icons/svg/arrow_down.svg') center right 12px no-repeat;
      background-size: 6px;
      transition: color 0.25s ease;
      margin-bottom: 23px;
      padding: 5px 25px 5px 18px;
      border: 1px solid rgba($b-primary, 0.2);
      border-radius: $radius-circle;
      cursor: pointer;
      @extend #{'.paragraph','.paragraph-m', '.tetriary'};
    }

    .filter-content {
      display: none;
      border: 1px solid $G-8;
      position: absolute;
      min-width: 200px;
      left: 0;
      top: calc(100% - 20px);
      padding: 8px 10px;
      z-index: 222;
      background-color: $G-0;

      li {
        border-bottom: 1px solid $G-3;

        &:last-child {
          border: none;
        }

        label {
          margin: 0;
        }
      }
    }
  }
}

.home {
  #cat-filters {
    display: none;
  }

  #primary {
    padding-top: 0;
  }
}

.mobile-wrapper {
  margin-bottom: 28px;

  @include media-breakpoint-down(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .dropdown {
    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
      flex: 0 0 calc(50% - 5px);
    }
  }

  .button {
    @include media-breakpoint-down(lg) {
      background-image: url('../../assets/icons/svg/filter.svg');
      background-position: center right 12px;
      background-repeat: no-repeat;
      background-color: rgba($b-primary, 0.05);
      text-align: left;
      flex: 0 0 calc(50% - 5px);
    }

    @extend #{'.paragraph','.paragraph-l', '.regular'};
  }
}

.mobile-modal {
  .modal-header,
  .modal-body {
    padding: 15px;
  }

  .close {
    padding: 10px;
    background-color: transparent;
  }

  .modal-body {
    height: calc(100vh - 200px);
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    overflow: auto;

    #cat-filters,
    #cat-filters + .yith-wcan-filters form {
      width: 100%;
      flex-direction: column; 
    }

    .yith-wcan-filters,
    .filters-container,
    form,
    .yith-wcan-filter {
      width: 100%;
    }

    .filter-content {
      border: none;
      padding: 0;
      top: 0;
      display: block;
      position: relative;

      li {
        border-bottom-style: dashed;
      }
    }

    .filter-title {
      border: none;
      background: none;
      font-size: 16px;
      padding: 0 0 5px 0;
      border-bottom: 1px solid;
      border-radius: 0;
      margin-bottom: 5px;
      margin-top: 15px;
    }
  }
}